@font-face{font-family:RS;font-style:normal;font-weight:400;src:url(../fonts/Peyda-Regular.ttf) format("truetype")}


@font-face{font-family:RSBold;font-style:normal;font-weight:700;src:url(../fonts/Peyda-Bold.ttf) format("truetype")}

@font-face{font-family:Wood;font-style:normal;font-weight:700;src:url(../fonts/wood.woff) format("truetype")}

@font-face{font-family:Icones;font-style:normal;font-weight:700;src:url(../fonts/eosicones.ttf) format("truetype")}


@font-face {
  font-family: FontBrand;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-brands-400.ttf") format("truetype"); }
  
  
@font-face {
  font-family: FontBrandBold;
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("../fonts/fa-brands-400.ttf") format("truetype") }
  
  
@font-face {
  font-family: FontRegular;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-regular-400.ttf") format("truetype"); }
  
  
@font-face {
  font-family: FontSolid;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-solid-900.ttf") format("truetype") }



:root{
	--bgcolor:#2a2b2e;
	--fontcolor:#aaa;
	--primary_color:#42afc2;
	--secondary_color:#117182;
}


*{
	box-sizing:border-box;
	outline:0;
	
}

body{
	background-color:#fff;
	font-family:RS;
	font-size:14px;
	margin:0;
	line-height: 1.42857;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	font-weight: normal;
}

a {
	text-decoration:none;
	background-color: transparent;
}

label{
    display: block;
    margin-bottom: 5px;
    color: #fff;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
	width:100%;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button{
	background-color: #ddd;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 10px;
	cursor:pointer;
}

img,svg{
	max-width:100%;
	height:auto;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
}

.list-unstyle{
	list-style:none;
}

.list-inline{
	display:inline-block;
}

.list-inline li{
	display:inline-block;
}


.alert-danger {
    color: #772b35;
    background-color: #fadddd;
    border-color: #f8cfcf;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.fullwidth{
	width:100%;
}


input[type=radio], input[type=checkbox] {
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 5px;
    padding: 0;
    vertical-align: middle;
}


input {
    border: 1px solid rgb(232, 234, 237) !important;
}

input[type=text],input[type=date],input[type=password],select{
	border-radius: 10px;
	padding: 0 15px;
    max-width: 100%;
    width: 100%;
    height: 42px;
    box-shadow: none;
    vertical-align: middle;
    font-size: 14px;
	color:#000;
}


fieldset{
	margin-bottom: 20px;
    padding: 6px 40px;
    border: 2px solid #E6E6E6;
	margin-top: 40px;
}

fieldset legend{
	margin-bottom: 0;
    padding-right: 15px;
    padding-left: 15px;
    width: auto;
	font-weight: 600;
    color: #242424;
	font-size: 22px;
}


mark {
    display: inline-block;
    padding: 5px 8px;
    background-color: #F9F9F9;
    color: #2d2a2a;
    font-weight: 600;
    line-height: 1;
}


address {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 110%;
    line-height: 1.8;
	color: #777777;
}







